ul {
    text-decoration: none;
}
#logo{
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 20px;
    z-index: 1;
    left: 30%;

}
#head{
    font-family: 'Anton' , sans-serif;
}
.round{
    border: 10px solid white;
    border-radius: 100%;
    height: 150px;
    margin-bottom: 5px;
    padding: 30px;
    font-weight: bold;
}
body{
    background-color:#f0f0f0;
    font-family: 'Abel', sans-serif;
}

#design {
    background-color: #e6563b;

}

#develop {
    background-color: #DEA03D;
}

#support {
    background-color: #7cb06c;
}

#host {
    background-color: #00aba9;
}


.round-small {
    border-radius: 70%;
    padding: 10px;
    margin: 5px;
}

.container-1 {
    width: 100%;
}
.img-center {
    position:;
    left: 50%;
    top: 10%;
    /*z-indez: 1;*/
}

.font1 {
    text-align: center;
    color: white;

}

.logo-container {
    margin-top: 3em;
    height: 75px;
    background-color: white;
    text-align: left;
}