ul {
    text-decoration: none;
}
#logo{
    height: 105px;
    width: 105px;
    border: 1px solid black;

}
#head{
    font-family: 'Anton' , sans-serif;
}
.round{
    border: 10px solid white;
    border-radius: 100%;
    height: 150px;
    margin-bottom: 5px;
    padding: 20px;
}
body{
    background-color: lightgrey;
}

#design {
    background-color: #e6563b;

}

#develop {
    background-color: #DEA03D;
}

#support {
    background-color: #7cb06c;
}

#host {
    background-color: #00aba9;
}


.round-small {
    border-radius: 70%;
    padding: 10px;
    margin: 1px;
}

.container-1 {
    width: 100%;
}
.img-center {
    position:;
    left: 50%;
    top: 10%;
    /*z-indez: 1;*/
}

.font1 {
    text-align: center;
    color: white;

}